*{
    box-sizing: border-box;
  }
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    height: 100vh;
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
    overflow: hidden;
    
    animation: bg-color-gradient 30s infinite alternate linear;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

 .accent-word {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;

  }

  h1 {
    font-size: 2.7em;
    margin: 1em 0 0 0;
  }

  /* LOG IN SCREEN */

  .login-screen-container{
    height: 100%;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
  }

  .text-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7em;

    color: #2f2f2f;
  }

  .form-container{
    margin-top: 7em;
    margin-left: 10em;
    gap: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-field {
    position: relative;
  }

  .input-field input {
    font-size: 1.2rem;
    color: white;
    
    padding-left: 1em;
    height: 3.5em;
    width: 15em;
    border-radius: 5px;
    border-color: white;
    background-color: #002233;
  }

  .input-field label {
    position: absolute;
    top: 0.7em;
    left: 1em;
    font-size: 1.3rem;
  }

  .input-field:focus-within label, .filled label{
    top: -0.7em;
    left: -1.5em;
    font-size: 1.1rem;
    font-weight: 600;
    width: 7em;
    height: 30px;
    color: white;
    background-color: #002233;
    transition: all 0.1s ease;

  }

  

  .button{
    font-size: 1.2rem;
    height: 3.5em;
    width: 15em;
    border-radius: 5px;
    border-color: white;
    color: white;
    background-color: #002233;
  }


/*wave css*/

  .wave{
    position: absolute;
    z-index: -1;
    left: -10em;
  }

  #svgs{
    width: 112vw;
    height: 101vh;
  }


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #002233 inset;
  -webkit-text-fill-color: white; 
}



  @keyframes bg-color-gradient {
    0% {
      background-color: #ffb6b9;
    }
    10% {
      background-color: #fae3d9;
    }
    20% {
      background-color: #d4a5ff;
    }
    30% {
      background-color: #e8eaff;
    }
    40% {
      background-color: #a8e6cf;
    }
    50% {
      background-color: #dcedc1;
    }
    60% {
      background-color: #fddde6;
    }
    70% {
      background-color: #f3e1e1;
    }
    80% {
      background-color: #fae1dd;
    }
    90% {
      background-color: #a0ced9;
    }
    100% {
      background-color:  #fef7dc;
    }
  }